# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
backend/.env

# Build output
frontend/build/
frontend/.cache/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore

# IDE
.vscode/
.idea/